<servers>
    <currentgroup>dev</currentgroup>
    <currentsku>robocraft</currentsku>
    <robocraft>
        <dev>
            <setting name="WebServicesServerAddress">127.0.0.1:4532</setting>
            <setting name="ChatServerAddress">not.used.hopefully:4534</setting>
            <setting name="SocialServerAddress">chat.server.not.a.valid.tld:4534</setting>
            <setting name="authUrl">http://127.0.0.1:8001/</setting>
        </dev>
    </robocraft>
</servers>
