<servers>
    <currentgroup>ngram</currentgroup>
    <currentsku>robocraft</currentsku>
    <robocraft>
        <dev>
            <setting name="WebServicesServerAddress">127.0.0.1:4532</setting>
            <setting name="WebServicesServerAddress__note__forwardedTo">127.0.0.1:4533</setting>
            <setting name="SocialServerAddress">127.0.0.1:4534</setting>
            <setting name="SocialServerAddress__note__forwardedTo">127.0.0.1:4535</setting>
            <setting name="ChatServerAddress">127.0.0.1:4536</setting>
            <setting name="ChatServerAddress__note__forwardedTo">127.0.0.1:4537</setting>
            <setting name="SinglePlayerServerAddress">127.0.0.1:4538</setting>
            <setting name="SinglePlayerServerAddress__note__forwardedTo">127.0.0.1:4539</setting>
            <setting name="LobbyServerAddress">127.0.0.1:4540</setting>
            <setting name="LobbyServerAddress__note__forwardedTo">127.0.0.1:4541</setting>
            <setting name="authUrl">http://127.0.0.1:8001/</setting>
            <setting name="S3URL">http://127.0.0.1:8010/live/data.json</setting>
        </dev>
        <ngram>
            <setting name="WebServicesServerAddress">ws.services.rc.ngram.ca:4532</setting>
            <setting name="WebServicesServerAddress__note__forwardedTo">:4533</setting>
            <setting name="SocialServerAddress">s.services.rc.ngram.ca:4534</setting>
            <setting name="SocialServerAddress__note__forwardedTo">:4535</setting>
            <setting name="ChatServerAddress">c.services.rc.ngram.ca:4536</setting>
            <setting name="ChatServerAddress__note__forwardedTo">:4537</setting>
            <setting name="SinglePlayerServerAddress">sp.services.rc.ngram.ca:4538</setting>
            <setting name="SinglePlayerServerAddress__note__forwardedTo">:4539</setting>
            <setting name="LobbyServerAddress">lobby.services.rc.ngram.ca:4540</setting>
            <setting name="LobbyServerAddress__note__forwardedTo">:4541</setting>
            <setting name="authUrl">https://live-auth.rc.ngram.ca/</setting>
            <setting name="S3URL">https://static.rc.ngram.ca/live/data.json</setting>
            <setting name="Payment__note__notUsedHere">https://pay.rc.ngram.ca/</setting>
            <setting name="Multiplayer__note__notUsedHere">mp.rc.ngram.ca:4542</setting>
        </ngram>
        <mynewgroup>
            <setting name="WebServicesServerAddress">domain_or_ip_address:4532</setting>
            <setting name="WebServicesServerAddress__note__forwardedTo">:4533</setting>
            <setting name="SocialServerAddress">domain_or_ip_address:4534</setting>
            <setting name="SocialServerAddress__note__forwardedTo">:4535</setting>
            <setting name="ChatServerAddress">domain_or_ip_address:4536</setting>
            <setting name="ChatServerAddress__note__forwardedTo">:4537</setting>
            <setting name="SinglePlayerServerAddress">domain_or_ip_address:4538</setting>
            <setting name="SinglePlayerServerAddress__note__forwardedTo">:4539</setting>
            <setting name="LobbyServerAddress">domain_or_ip_address:4540</setting>
            <setting name="LobbyServerAddress__note__forwardedTo">:4541</setting>
            <setting name="authUrl">https://domain_or_ip_address:8001/</setting>
            <setting name="S3URL">https://domain_or_ip_address:8010/live/data.json</setting>
            <setting name="Payment__note__notUsedHere">https://domain_or_ip_address:8011/</setting>
            <setting name="Multiplayer__note__notUsedHere">domain_or_ip_address:4542</setting>
        </mynewgroup>
    </robocraft>
</servers>
